.search-bar-style {
  display: flex;
  flex: 1;
  line-height: 1.8rem;
  margin: 0.25rem;
  padding: 0.25rem;
  border-radius: 8px;
}

.flex {
  display: flex;
}

header {
  display: flex;
  background: var(--header-bg-color);
  align-items: center;
}
