html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(0, 0, 0);
  -webkit-font-smoothing: antialiased;
  clear: both;
  height: 100%;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.content {
  height: 100%;
  margin: 0 0.5rem 0 0.5rem;
  padding: 0 0.5rem 0 0.5rem;
}

header span,
.content div span {
  margin: 0.25rem;
  padding: 0.25rem;
}

header span a,
ul li a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.spacer {
  flex: 1;
}

ul {
  margin: 0.3rem 0 0.3rem 0;
  padding: 0;
  list-style-type: none;
}

li {
  padding: 0.2rem;
}

svg {
  padding: 0.2rem;
  vertical-align: middle;
}

.text-input {
  height: 2.2rem;
  width: 17rem;
  border-radius: 8px;
}

.large-label {
  font-size: large;
  font-weight: bold;
}

input[type="submit"] {
  height: 2.2rem;
  width: 7rem;
  border-radius: 8px;
}

.dropdown {
  margin: 0;
  padding: 0.6rem;
}
.dropdown:hover {
  color: rgb(91, 91, 91);
}
.dropdown-container {
  display: none;
  position: fixed;
  z-index: 4;
  padding: 0.8rem 0 0 0;
  margin: 0;
}
.dropdown-content {
  color: white;
  background-color: black;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.dropdown-spacer {
  height: 2px;
  background-color: white;
  margin: 0;
  padding: 0;
}
.dropdown:hover .dropdown-container {
  display: block;
}
.dropdown-container a {
  padding: 8px 10px;
}
.dropdown-content span {
  display: flex;
  margin: 0;
}
.dropdown-content a:hover,
.dropdown-content span:hover {
  background-color: #726868;
}
.right {
  right: 0.3rem;
}

.filter-row {
  display: flex;
  line-height: 3rem;
}

.product-category,
.vertical-filter {
  min-width: 14rem;
}
