html {
  height: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(0, 0, 0);
}

.body {
  margin: 0rem;
}

.spacer {
  display: flex;
  flex: 1;
}

.icons-size {
  padding-right: 0.2rem;
  font-size: 1.5rem;
}

.nav-link {
  color: white;
  font-size: 1rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 8px 16px;
}

.ul {
  margin: 0rem;
  padding: 0rem;
  display: flex;
  list-style-type: none;
  line-height: 2rem;
  background-color: black;
}

.card {
  display: flex;
  height: 17rem;
  width: 16rem;
  border-radius: 0.3rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  box-sizing: content-box;
  margin: 0.3rem;
  padding: 0.3rem;
  align-items: center;
  justify-content: center;
  background-color: grey;
}

.text-input {
  height: 2.2rem;
  width: 17rem;
  border-radius: 8px;
}

.big-label{
  font-size: xx-large;
  font-weight: bold;
}

.submit-button {
  height: 2.2rem;
  width: 7rem;
  border-radius: 8px;

}