:root {
  --header-bg-color: black;
  --header-font-color: white;
  --font-color: white;
  --bg-color: #333333;
  --hover-color: #333333;
  --content-bg-color: black;
}

[theme="brown"] {
  --header-bg-color: #3d1d04;
  --header-font-color: white;
  --font-color: white;
  --bg-color: rgb(150, 103, 53);
  --hover-color: rgb(150, 103, 53);
  --content-bg-color: #3d1d04;
}

[theme="black"] {
  --header-bg-color: black;
  --header-font-color: white;
  --font-color: white;
  --bg-color: #333333;
  --hover-color: #333333;
  --content-bg-color: black;
}

html {
  height: 100%;
  min-width: 600px;
}

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--font-color);
  -webkit-font-smoothing: antialiased;
  clear: both;
  height: 100%;
  background-color: var(--bg-color);
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.content {
  height: 100%;
  margin: 0 0.5rem 0 0.5rem;
  padding: 0 0.5rem 0 0.5rem;
}

header span,
.content div span {
  margin: 0.25rem;
  padding: 0.25rem;
  border-radius: 0.3rem;
}

header span a,
ul li a {
  color: var(--header-font-color);
  text-decoration: none;
  display: flex;
  align-items: center;
}

.spacer {
  flex: 1;
}

ul {
  margin: 0.3rem 0 0.3rem 0;
  padding: 0;
  list-style-type: none;
}

li {
  padding: 0.2rem;
}

svg {
  padding: 0.2rem;
  vertical-align: middle;
}

.text-input {
  height: 2.2rem;
  width: 17rem;
  border-radius: 8px;
}

.label-l {
  font-size: large;
  font-weight: bold;
}

input[type="submit"] {
  height: 2.2rem;
  width: 7rem;
  border-radius: 8px;
}

/* header dropdowns */
.dropdown-container {
  display: none;
  position: fixed;
  z-index: 4;
  padding: 0.8rem 0 0 0;
  margin: 0;
}
.dropdown-content {
  color: var(--header-font-color);
  background-color: var(--header-bg-color);
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.dropdown-spacer {
  height: 2px;
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
}
.dropdown:hover .dropdown-container {
  display: block;
}
.dropdown-container a {
  padding: 8px 10px;
}
.dropdown-content span {
  display: flex;
  margin: 0;
}
.dropdown-content a:hover,
.dropdown-content span:hover {
  background-color: var(--hover-color);
}
.right {
  right: 0.3rem;
}
/* filter dropdown container */
.horizontal-filter{
  display: flex;
}
.popularity-dropdown:hover{
  background-color: var(--header-bg-color);
}
.popularity-dropdown-container{
  display: none;
  background-color: var(--header-bg-color);
  position: fixed;
  z-index: 4;
  padding: 0.5rem 0.3rem 0.3rem 0.3rem;
  right: 1.75rem;
  width: 6.4rem;
  border-radius: 0.5rem;
}

.popularity-dropdown:hover .popularity-dropdown-container {
  display: flex;
}

.filter-row {
  display: flex;
  line-height: 3rem;
}

.product-category{
  min-width: 14rem;
}

.filter-vl {
  min-width: 11rem;
}
