.login-form {
  display: block;
  position: relative;
  height: 28rem;
  width: 30rem;
  margin: auto;
  top: 6rem;
  left: 0rem;
  border-radius: 10px;
  color: white;
  background-color: black;
  box-shadow: 6px 6px 6px 6px rgb(0 0 0 / 20%);
  text-align: center;
}