.item-base-row {
  display: inline-block;
  line-height: 3rem;
  width: 100%;
}
.item-nav-path {
  float: left;
  margin: 0.3rem;
  padding: 0.3rem;
  width: 14rem;
}
.svg-align {
  vertical-align: -0.4rem;
}
.horizontal-filter-span {
  margin: 0.3rem;
  padding: 0.3rem;
  float: right;
}
.vertical-filter-span {
  margin: 0.3rem;
  padding: 0.3rem;
  float: left;
  width: 14rem;
}
.place-well {
  margin: 0.15rem;
  padding: 0.15rem;
}
.page-nav-link {
  text-decoration: none;
  color: black;
}
.filter-ul{
  padding: 0;
  list-style-type: none;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  left: 15rem;
  position: absolute;
}
