.page-nav {
  text-decoration: none;
  color: var(--font-color);
  vertical-align: middle;
  min-width: 14rem;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  background-color: var(--bg-color);
}
