.show-side-menu {
  left: 0;
  padding-left: 0px;
  flex-direction: column;
}

.show-account-side-menu {
  right: 0;
  padding-left: 0;
  flex-direction: column-reverse;
}

.common-side-menu {
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  height: 100%;
  width: 200px;
  z-index: 3;
  color: white;
  background-color: black;
  top:0
}
