
.search-bar-style {
  display: flex;
  flex: 1;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.spacer {
  display: flex;
  flex: 1;
}

.icons-size {
  font-size: 1.5rem;
}

.nav-link {
  color: white;
  font-size: 1rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 8px 16px;
}

.ul {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0rem;
  display: flex;
  list-style-type: none;
}

.common-side-menu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  height: 100%;
  width: 200px;
  z-index: 3;
  top: 0;
  color: white;
  background-color: black;
  list-style-type: none;
}
